
/* loginSignUp */

.loginSignUp{
  height: 520px;
  width: 400px;
  background-color: darkgreen;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}

.loginSignUp *{
  font-family: 'Poppins',sans-serif;
  color: black;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.loginSignUp h2{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.loginSignUp label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.loginSignUp input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 1px;
  font-size: 14px;
  font-weight: 300;
}

.loginSignUp::placeholder{
  color: #e5e5e5;
}

.loginSignUpFormButton{
  margin-top: 25px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.SignUpButton{
  margin-top: 25px;
  width: 50%;
  background-color: lightgreen;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

/* profileForm */

.profileForm{
  height: 650px;
  width: 400px;
  background-color: darkgreen;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}

.profileForm *{
  font-family: 'Poppins',sans-serif;
  color: black;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.profileForm h2{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.profileForm label{
  display: block;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
}

.profileForm input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 1px;
  font-size: 14px;
  font-weight: 300;
}
.profileForm::placeholder{
  color: #e5e5e5;
}

.profileFormButton{
  margin-top: 25px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.logOutButton{
  margin-top: 25px;
  width: 15%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

/* aboutPage */

.aboutPage{
  height: 650px;
  width: 770px;
  background-color: darkgreen;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 65%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.aboutPage *{
  font-family: 'Poppins',sans-serif;
  color: black;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.aboutPage h2{
  font-size: 25px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.aboutPage label{
  display: block;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 500;
}

.aboutPage input{
  display: block;
  height: 25px;
  width: 70%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0px 10px;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}
.aboutPage::placeholder{
  color: #e5e5e5;
}

.aboutPageButton{
  margin-top: 25px;
  width: 100px;
  background-color: lightgreen;
  color: #080710;
  padding: 15px 0;
  font-size: 10px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.deleteAccountButton{
  margin-top: 25px;
  width: 100px;
  background-color: red;
  color: white;
  padding: 15px 0;
  font-size: 10px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  left: -50px;
}

.cancelButton{
  margin-top: 25px;
  width: 100px;
  background-color: lightgreen;
  color: black;
  padding: 15px 0;
  font-size: 10px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  left: -50px;
}

/* homePage */

.homePage{
  height: 650px;
  width: 770px;
  background-color: darkgreen;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 65%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.homePage *{
  font-family: 'Poppins',sans-serif;
  color: black;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.homePage h1{
  font-size: 35px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
}

.homePage h2{
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
}

/* todoPage */

.todoPage{
  height: 650px;
  width: 770px;
  background-color: darkgreen;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 65%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.todoPage *{
  font-family: 'Poppins',sans-serif;
  color: black;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.todoPage h2{
  font-size: 25px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.todoPage label{
  display: block;
  margin-top: 15px;
  font-size: 20px;
}

.todoPage input{
  display: block;
  height: 25px;
  width: 70%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0px 10px;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 380;
  text-align: center;  
}

.todoPage::placeholder{
  color: #e5e5e5;
}

.todoList{
  margin-right: 180px;
}

.todoCategoryButtons{
  position: relative;
  display: inline-flex;
  right: 165px;
}

.todosListShown{
  position: relative;
  right: 200px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

/* priorityPage */

.priorityPage{
  height: 650px;
  width: 770px;
  background-color: darkgreen;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 65%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.priorityPage *{
  font-family: 'Poppins',sans-serif;
  color: black;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.priorityPage h2{
  font-size: 25px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.priorityPage label{
  display: block;
  margin-top: 15px;
  font-size: 15px;
}

.priorityPage input{
  display: block;
  height: 25px;
  width: 70%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0px 10px;
  margin-top: 5px;
  font-size: 20px;
}

.priorityPage::placeholder{
  color: #e5e5e5;
}

.priorityTitle{
  position: relative;
  margin-left: 90px;
  margin-top: -20px;
 }

 .priorityHeader{
  position: relative;
  right: 180px;
  margin-top: -20px;
 }

.priorityLevelsContainer {
  position: fixed;
  top: 370px;
  display: flex;
  right: 50px;
}

.vl {
  border-left: 6px solid green;
  height: 310px;
  padding: 34px;
}

.priorityName-container {
  margin-top: -65px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.priorityName-container button{
  border-radius: 3px;
}

.priorityForm-container {
  position: absolute;
  left: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.priorityForm-container button{
  display: block;
  height: 25px;
  width: fit-content;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0px 10px;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 380;
  text-align: center;
}

button {   
  cursor: "pointer"
}

input[type="submit"] {   
  cursor: "pointer"
}
